<mat-card appearance="outlined">
  <div>
    <button class="block-button btn-back" mat-raised-button routerLink="/game">
      <mat-icon>keyboard_backspace</mat-icon>Powrót
    </button>
  </div>
  <div>
    <h1>{{ game.name }}</h1>
  </div>
  <div>
    <img [src]="imageUrl" alt="Okładka" width="500" height="660" />
    <div>
      <p>Średnia ocena</p>
      <p>{{ avarageRate.avarageRate }}</p>
      <p>Liczba ocen</p>
      <p>{{ avarageRate.amountOfRates }}</p>
    </div>
    <div *ngIf="userRate.gameRate != null">
      <p>Twoja ocena</p>
      <p>{{ userRate.gameRate }}</p>
    </div>
    <div *ngIf="userRate.gameRate == null">
      <mat-form-field>
        <mat-label for="rate">Dodaj ocenę!</mat-label>
        <input
          matInput
          type="number"
          [placeholder]="rate.gameRate ? '' : '0'"
          [value]="rate.gameRate || ''"
          [(ngModel)]="rate.gameRate"
        />
      </mat-form-field>

      <button mat-raised-button (click)="addRate()">Oceń</button>
    </div>
  </div>
  <div>
    <h4>Platformy na których dostępna jest gra</h4>
    <ul>
      <li *ngFor="let platform of game.platformsName">
        <p>{{ platform }}</p>
      </li>
    </ul>
  </div>
  <div>
    <comments [currentUserEmail]="email" [gameId]="id"></comments>
  </div>
</mat-card>
