<mat-card appearance="outlined">
  <div class="header-display">
    <h1>{{ title }}</h1>

    <button mat-raised-button routerLink="add">
      <mat-icon>add</mat-icon>Dodaj Grę
    </button>
  </div>

  <ol>
    <li *ngFor="let game of games">
      <img [src]="game.imageUrl" alt="Okładka" width="150" height="200" />
      {{ game.game.name }}
      <button mat-raised-button routerLink="details/{{ game.game.id }}">
        Szczegóły
      </button>
      <button mat-raised-button routerLink="edit/{{ game.game.id }}">
        Edytuj
      </button>
      <button mat-raised-button (click)="deleteGame(game.game.id)">Usuń</button>
    </li>
  </ol>
</mat-card>
