<mat-card appearance="outlined">
  <div class="header-display">
    <h1>{{ title }}</h1>
    <div *ngIf="isInRole()">
      <button mat-raised-button matSort routerLink="add">
        <mat-icon>add</mat-icon>Dodaj Grę
      </button>
    </div>
  </div>

  <div class="filter">
    <mat-form-field>
      <mat-label>Wybierz kolumnę do filtrowania</mat-label>
      <mat-select [(value)]="selectedColumn">
        <mat-option value="name">Tytuł</mat-option>
        <mat-option value="gameType">Gatunek</mat-option>
        <mat-option value="rating">Kategoria Wiekowa</mat-option>
        <mat-option value="platforms">Platforma</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input (keyup)="applyFilter($event)" matInput placeholder="Filtr" />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Lp. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Okładka </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img
            *ngIf="element.imageUrl != null"
            [src]="element.imageUrl"
            alt="Okładka"
            width="150"
            height="200"
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Tytuł </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Gatunek </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.gameType }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="platforms">
        <mat-header-cell *matHeaderCellDef> Platformy </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ul *ngFor="let platform of element.platforms">
            <li>
              {{ platform }}
            </li>
          </ul>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef> Kategoria Wiekowa </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.rating }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef> Szczegóły </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="btn-delete"
            [routerLink]="'details/' + element.id"
          >
            <mat-icon>launch</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <div *ngIf="isInRole()">
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edytuj </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="btn-delete"
              [routerLink]="'edit/' + element.id"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Usuń </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="btn-delete"
              (click)="deleteGame(element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</mat-card>
