<mat-form-field class="example-full-width block-input">
  <mat-label for="game-name">Nazwa Gry</mat-label>
  <input
    matInput
    #nameInput="ngModel"
    id="game-name"
    [placeholder]="gameForm.game.name ? '' : 'Nazwa'"
    [value]="gameForm.game.name || ''"
    [(ngModel)]="gameForm.game.name"
    minlength="2"
    required
  />
  <mat-error
    *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
  >
    <span *ngIf="nameInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="nameInput.errors?.['minlength']">Minimum 2 znaki</span>
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-type">Typ Gry</mat-label>
  <input
    matInput
    #typeInput="ngModel"
    id="game-type"
    [placeholder]="gameForm.game.gameType ? '' : 'Typ Gry'"
    [value]="gameForm.game.gameType || ''"
    [(ngModel)]="gameForm.game.gameType"
    minlength="2"
    required
  />
  <mat-error
    *ngIf="typeInput.invalid && (typeInput.dirty || typeInput.touched)"
  >
    <span *ngIf="typeInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="typeInput.errors?.['minlength']">Minimum 2 znaki</span>
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-desc">Opis Gry</mat-label>
  <input
    matInput
    #descInput="ngModel"
    id="game-desc"
    [placeholder]="gameForm.game.description ? '' : 'Opis'"
    [value]="gameForm.game.description || ''"
    [(ngModel)]="gameForm.game.description"
    minlength="50"
    required
  />
  <mat-error
    *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)"
  >
    <span *ngIf="descInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="descInput.errors?.['minlength']"
      >Opis powinien mieć minimalnie 50 znaków</span
    >
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-studio">Producent Gry</mat-label>
  <input
    matInput
    #studioInput="ngModel"
    id="game-studio"
    [placeholder]="gameForm.game.studio ? '' : 'Producent'"
    [value]="gameForm.game.studio || ''"
    [(ngModel)]="gameForm.game.studio"
    minlength="1"
    required
  />
  <mat-error
    *ngIf="studioInput.invalid && (studioInput.dirty || studioInput.touched)"
  >
    <span *ngIf="studioInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="studioInput.errors?.['minlength']"
      >To pole nie może być puste</span
    >
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input" appearance="fill">
  <mat-label for="game-rating">Kategoria Wiekowa Gry</mat-label>
  <mat-select
    matInput
    #ratingInput="ngModel"
    id="game-rating"
    placeholder="Wybierz kategorię wiekową"
    [(ngModel)]="gameForm.game.rating"
    required
  >
    <mat-option value="PEGI 3">PEGI 3</mat-option>
    <mat-option value="PEGI 7">PEGI 7</mat-option>
    <mat-option value="PEGI 12">PEGI 12</mat-option>
    <mat-option value="PEGI 16">PEGI 16</mat-option>
    <mat-option value="PEGI 18">PEGI 18</mat-option>
  </mat-select>
  <mat-error
    *ngIf="ratingInput.invalid && (ratingInput.dirty || ratingInput.touched)"
  >
    <span *ngIf="ratingInput.errors?.['required']"
      >Kategoria wiekowa jest wymagana</span
    >
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-capacity">Rozmiar Gry [GB]</mat-label>
  <input
    matInput
    #capacityInput="ngModel"
    type="number"
    id="game-capacity"
    [placeholder]="gameForm.game.capacity ? '' : '0'"
    [value]="gameForm.game.capacity || ''"
    [(ngModel)]="gameForm.game.capacity"
    min="0.01"
    required
  />
  <mat-error
    *ngIf="
      capacityInput.invalid && (capacityInput.dirty || capacityInput.touched)
    "
  >
    <span *ngIf="capacityInput.errors?.['required']"
      >Rozmiar gry jest wymagany</span
    >
    <span *ngIf="capacityInput.errors?.['min']"
      >Minimalny rozmiar to {{ capacityInput.errors?.['min'].min }}</span
    >
  </mat-error>
</mat-form-field>

<file-upload
  *ngIf="gameForm.image"
  [image]="gameForm.image"
  (fileSelected)="onFileSelected($event)"
></file-upload>

<ng-select
  #platformSelect="ngModel"
  [(ngModel)]="gameForm.game.platforms"
  [items]="platforms"
  [multiple]="true"
  bindLabel="name"
  bindValue="name"
  placeholder="Wybierz platformy"
  required
  [typeahead]="platformsInput$"
  style="margin-bottom: 0"
>
</ng-select>
<mat-error
  *ngIf="
    platformSelect.invalid && (platformSelect.dirty || platformSelect.touched)
  "
>
  <span *ngIf="platformSelect.errors?.['required']">Pole jest wymagane</span>
</mat-error>

<div class="controls">
  <button class="block-button btn-add" mat-raised-button (click)="passGame()">
    <mat-icon>add</mat-icon>{{ buttonText }}
  </button>
  <button class="block-button btn-back" mat-raised-button routerLink="/game">
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>
