<mat-form-field class="example-full-width block-input">
  <mat-label for="game-name">Nazwa Gry</mat-label>
  <input
    matInput
    #nameInput="ngModel"
    id="game-name"
    [placeholder]="gameForm.game.name ? '' : 'Nazwa'"
    [value]="gameForm.game.name || ''"
    [(ngModel)]="gameForm.game.name"
    minlength="2"
    maxlength="15"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-type">Typ Gry</mat-label>
  <input
    matInput
    #typeInput="ngModel"
    id="game-type"
    [placeholder]="gameForm.game.gameType ? '' : 'Typ Gry'"
    [value]="gameForm.game.gameType || ''"
    [(ngModel)]="gameForm.game.gameType"
    minlength="2"
    maxlength="15"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-desc">Opis Gry</mat-label>
  <input
    matInput
    #descInput="ngModel"
    id="game-desc"
    [placeholder]="gameForm.game.description ? '' : 'Opis'"
    [value]="gameForm.game.description || ''"
    [(ngModel)]="gameForm.game.description"
    minlength="2"
    maxlength="15"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-studio">Producent Gry</mat-label>
  <input
    matInput
    #studioInput="ngModel"
    id="game-studio"
    [placeholder]="gameForm.game.studio ? '' : 'Producent'"
    [value]="gameForm.game.studio || ''"
    [(ngModel)]="gameForm.game.studio"
    minlength="2"
    maxlength="15"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-rating">Kategoria Wiekowa Gry</mat-label>
  <input
    matInput
    #ratingInput="ngModel"
    id="game-rating"
    [placeholder]="gameForm.game.rating ? '' : 'Kategoria Wiekowa'"
    [value]="gameForm.game.rating || ''"
    [(ngModel)]="gameForm.game.rating"
    minlength="2"
    maxlength="15"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="game-capacity">Rozmiar Gry</mat-label>
  <input
    matInput
    type="number"
    id="game-capacity"
    [placeholder]="gameForm.game.capacity ? '' : '0'"
    [value]="gameForm.game.capacity || ''"
    [(ngModel)]="gameForm.game.capacity"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<file-upload
  *ngIf="gameForm.image"
  [image]="gameForm.image"
  (fileSelected)="onFileSelected($event)"
></file-upload>

<!-- <mat-form-field class="example-full-width block-input">
  <mat-label for="game-image">Dodaj zdjęcie okładki gry</mat-label>
  <input
      matInput
      #imageInput="ngModel"
      id="game-image"
      [placeholder]="game.imagePath ? '' : 'Dodaj zdjęcie'"
      [value]="game.imagePath || ''"
      [(ngModel)]="game.imagePath"
      minlength="2"
      maxlength="15"
      required
  /> -->
<!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
<!-- </mat-form-field> -->

<ng-select
  [(ngModel)]="gameForm.game.platforms"
  [items]="platforms"
  [multiple]="true"
  bindLabel="name"
  bindValue="name"
  placeholder="Wybierz platformy"
  [typeahead]="platformsInput$"
>
</ng-select>

<div class="controls">
  <button class="block-button btn-add" mat-raised-button (click)="passGame()">
    <mat-icon>add</mat-icon>{{ buttonText }}
  </button>
  <button class="block-button btn-back" mat-raised-button routerLink="/game">
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>
