<mat-form-field class="example-full-width block-input">
  <mat-label for="platform-name">Nazwa Platformy</mat-label>
  <input
    matInput
    #platformInput="ngModel"
    id="platform-name"
    [placeholder]="platform.name ? '' : 'Nazwa'"
    [value]="platform.name || ''"
    [(ngModel)]="platform.name"
    minlength="2"
    required
  />
  <mat-error
    *ngIf="
      platformInput.invalid && (platformInput.dirty || platformInput.touched)
    "
  >
    <span *ngIf="platformInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="platformInput.errors?.['minlength']">Minimum 2 znaki</span>
  </mat-error>
</mat-form-field>
<div class="controls">
  <button
    class="block-button btn-add"
    mat-raised-button
    (click)="passPlatform()"
  >
    <mat-icon>add</mat-icon>{{ buttonText }}
  </button>
  <button
    class="block-button btn-back"
    mat-raised-button
    routerLink="/platform"
  >
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>
