<mat-form-field class="example-full-width block-input">
  <mat-label for="post-title">Tytuł Posta</mat-label>
  <input
    matInput
    #titleInput="ngModel"
    id="post-title"
    [placeholder]="postForm.post.title ? '' : 'Title'"
    [value]="postForm.post.title || ''"
    [(ngModel)]="postForm.post.title"
    minlength="2"
    required
  />
  <mat-error
    *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)"
  >
    <span *ngIf="titleInput.errors?.['required']">Pole jest wymagane</span>
    <span *ngIf="titleInput.errors?.['minlength']">Minimum 2 znaki</span>
  </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="post-content">Treść Posta</mat-label>
  <input
    matInput
    #contentInput="ngModel"
    id="post-content"
    [placeholder]="postForm.post.content ? '' : 'Treść'"
    [value]="postForm.post.content || ''"
    [(ngModel)]="postForm.post.content"
    required
  />
  <mat-error
    *ngIf="contentInput.invalid && (contentInput.dirty || contentInput.touched)"
  >
    <span *ngIf="contentInput.errors?.['required']">Pole jest wymagane</span>
  </mat-error>
</mat-form-field>

<file-upload
  [image]="postForm.image"
  (fileSelected)="onFileSelected($event)"
></file-upload>

<ng-select
  #platformSelect="ngModel"
  [(ngModel)]="postForm.post.platforms"
  [items]="platforms"
  [multiple]="true"
  bindLabel="name"
  bindValue="name"
  placeholder="Wybierz platformy"
  [typeahead]="platformsInput$"
  style="margin-bottom: 0"
  required
>
</ng-select>
<mat-error
  *ngIf="
    platformSelect.invalid && (platformSelect.dirty || platformSelect.touched)
  "
>
  <span *ngIf="platformSelect.errors?.['required']">Pole jest wymagane</span>
</mat-error>

<div class="controls">
  <button class="block-button btn-add" mat-raised-button (click)="passPost()">
    <mat-icon>add</mat-icon>{{ buttonText }}
  </button>
  <button class="block-button btn-back" mat-raised-button routerLink="/post">
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>
