<mat-form-field class="example-full-width block-input">
  <mat-label for="post-title">Tytuł Posta</mat-label>
  <input
    matInput
    #titleInput="ngModel"
    id="post-title"
    [placeholder]="postForm.post.title ? '' : 'Title'"
    [value]="postForm.post.title || ''"
    [(ngModel)]="postForm.post.title"
    minlength="2"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width block-input">
  <mat-label for="post-content">Treść Posta</mat-label>
  <input
    matInput
    #contentInput="ngModel"
    id="post-content"
    [placeholder]="postForm.post.content ? '' : 'Treść'"
    [value]="postForm.post.content || ''"
    [(ngModel)]="postForm.post.content"
    minlength="2"
    required
  />
  <!-- <mat-error
      *ngIf="markInput.invalid && (markInput.dirty || markInput.touched)"
  >
      {{
          markInvalid
              ? formErrors.markField
              : "This field is required, minimum lenght must be at least 2 signs"
      }}
  </mat-error> -->
</mat-form-field>

<file-upload
  [image]="postForm.image"
  (fileSelected)="onFileSelected($event)"
></file-upload>

<ng-select
  [(ngModel)]="postForm.post.platforms"
  [items]="platforms"
  [multiple]="true"
  bindLabel="name"
  bindValue="name"
  placeholder="Wybierz platformy"
  [typeahead]="platformsInput$"
>
</ng-select>

<div class="controls">
  <button class="block-button btn-add" mat-raised-button (click)="passPost()">
    <mat-icon>add</mat-icon>{{ buttonText }}
  </button>
  <button class="block-button btn-back" mat-raised-button routerLink="/post">
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>
