<div class="content" role="main">
  <h1>Rejestracja</h1>
  <div class="form-grup">
    Imię: <input [(ngModel)]="registerDto.firstName" />
  </div>
  <div class="form-grup">
    Nazwisko: <input [(ngModel)]="registerDto.lastName" />
  </div>
  <div class="form-grup">Email: <input [(ngModel)]="registerDto.email" /></div>
  <div class="form-grup">
    Nazwa Użytkownika: <input [(ngModel)]="registerDto.username" />
  </div>
  <div class="form-grup">
    Hasło: <input [(ngModel)]="registerDto.password" />
  </div>
  <button class="login-button" (click)="register(registerDto)">
    Zarejestruj
  </button>
</div>

<p class="login-text">Masz już konto? Zaloguj się!</p>
<button class="login-button" routerLink="/login">Zaloguj</button>
